* {
  box-sizing: border-box;
  color: white;
  font-family: 'Itim';
  margin: 0;
  padding: 0;
}

.link-spanner{
  position:absolute;
  width:10%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.top-header {
  align-items: center;
  background-color: #E00809;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.section-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-logo img {
  width: 70px;
  height: 70px;
}

.section-brand-text h1 {
  font-size: 36px;
  }

.section-brand-text p {
  font-size: 12px;
}

.search-bar {
  width: 400px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 14px;
  background-color: #D9D9D9;
  color: black
}

.button-order {
  background-color: #ff6b6b;
  width: 260px;
  height: 50px;
  border: none;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.button-order:hover {
  background-color: #ff4d4d;
}

.navigation-area {
  display: flex;
  align-items: center;
  background-color: #C21923;
  height: 40px;
  width: 100%;
  overflow: visible;
  padding: 10px;
  gap: 15px;
}

.button-dropdown {
  background-color: #C74950;
  width: 150px;
  height: 32px;
  margin: 0px 6px;
  font-size: 24px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  text-decoration-line: none;
}

.content-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content-dropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .content-dropdown {
  display: block;
}

.dropdown:hover .button-dropdown {
  background-color: #BC6E72;
}

.content {
  background-color: #f2dfcf;
  min-height: calc(100vh - 120px);
}

body{
  background-color: #ECD8C9;
}

.section-divider {
  width: 950px;
  height: 6px;
  background-color: #766c65;
  margin: 25px auto;
  border-radius: 3px;
}

.class_greeting {
  display: flex;
  justify-content: center;
  margin: 46px 0px 0px 0px;
}

.class_greeting img {
  width: 950px;
  height: 475px;
  object-fit: cover;
  border-radius: 5px;
}

.section-title {
  max-width: 950px;
  margin: 10px auto;
}

.section-title h2 {
  background: #d4c2b5;
  color: black;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 950px;
  margin: 0 auto;
}

.food-card {
  background-color: #d4c2b5;
  height: 140px;
  border-radius: 5px;
}